# Ignore environment files
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Flask-specific files
instance/
*.sqlite

# Logs and temporary files
*.log
*.tmp
*.swp

# IDE-specific files
.vscode/
.idea/